<body>
    <div class="container">
      <div class="row mt-5">
        <div>
          <h3>Group Name: IOR project</h3>
          <h5>Team Members: Andy, Bob, Alice, Joe</h5>
          <h6>Table Number: 4</h6>
        </div>
      </div>
      <div class="row">
        <img class="project_img" src="gallery.jpg">
      </div>
      <div class="row mt-4">
        <h6>Description:</h1>
          <p>One of the 6 most common medication problems in an ageing population comes from the scheduling and burden of
            taking several medications several times a day. At best, this can be a hassle and an annoying process.
            However, it is often more likely than not that many may simply forget to take certain medication without
            supervision and reminders which may result in further deterioration of their health. In order to address this
            issue to make living healthy a smoother process for the ageing population as well as provide better support
            for their healthcare providers, MediDate was born. Designed with the user in mind, the UI is simple and
            intuitive while the hardware is also clean and dependable. The diversity of features ensures that all aspects
            of the medication and caretaking process can be managed effectively through one comprehensive platform. A
            senior citizen now has a technological solution to one of their daily problems, which can all be managed
            easily by a caretaker or nurse.</p>
      </div>
      <div class="row mt-3">
        <h6>Judging criteria</h6>
      </div>
  
      <div class="row">
        <div class="col-xs-12">
          <div class="dropdown">
            <p>WOW Factor</p>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
              <a class="dropdown-item" href="#">4</a>
              <a class="dropdown-item" href="#">5</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 ml-5">
          <p>Technical Rigour</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
              <a class="dropdown-item" href="#">4</a>
              <a class="dropdown-item" href="#">5</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12  ml-5">
          <p>Feasibility</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
              <a class="dropdown-item" href="#">4</a>
              <a class="dropdown-item" href="#">5</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12  ml-5">
          <p>Uniqueness</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
              <a class="dropdown-item" href="#">4</a>
              <a class="dropdown-item" href="#">5</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">General Comments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
      <div class="container text-center">
        <small>TOHacks</small>
      </div>
    </footer>
  </body>